@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

body::-webkit-scrollbar-track {
    background-color: #380E72;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #350c74;
    padding: 0px 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.logonavbar {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.logonavbar img {
    width: 90px;


}

.logonavbar ul {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.logonavbar ul li {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logonavbar ul a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a:hover {
    
    border-bottom: solid 1px white;
}

.header .fakebutton {
    width: 127px;
    height: 28px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.header .fakebutton:hover {
    border-bottom: solid 1px white;
}

.buttonslogcad {
    width: 21%;
    display: flex;
}

.block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-image: linear-gradient(180deg, #380E72, #1A023E);
    border-radius: 0px 0px 180px 0px;
}

.bground {
    height: 560px;
    width: 95%;
    padding: 0 50px;
    display: flex;
}

.infb2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 50px;

}

.infb2 h1 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: 200;

}

.infb2 p {
    color: whitesmoke;
    margin: 1rem 0;

}

.infb2 .fakebutton {
    width: 176px;
    height: 38px;
    background-color: transparent;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infb2 .fakebutton a {
    width: 100%;
    height: 100%;
    color: #00c8ff;
    border: solid 1px #00c8ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .2s ease;

}

.fakebutton a:hover {
    width: 100%;
    height: 100%;
    color: #00000096;
    border-radius: 5px;
    background-color: #7fdaf4;
    box-shadow: 0 0 5px #00c8ff;
    
}

.bground img {
    height: 600px;
    width: 600px;
}

.contatenos {
    position: fixed;
    height: 70px;
    margin: 20% 0% 0% 46%;
    cursor: pointer;

}

.b2 {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: white;
}



#title {
    background-color: #904df4;
    padding: 1rem;
    text-align: center;
    width: 30%;
    margin: auto;
    position: relative;
    margin-top: 4rem;
    top: 40px;
}

#title h1 {
    font-size: 40px;
    color: #eeddff;
    
}

#quemSomos {
    background-color: #350381;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 600px;
}

#quemSomos img {
    width: 550px;
}

#quemSomos p {
    width: 100%;
    color: #eeddff;
    font-size: 23px;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 35px;
}

.paragrafoQ{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.text01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}

.text01 h2 {
    margin-left: 10px;
    color: #4F0C84;

}

.container {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .caixas {
    background-color: whitesmoke;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #380e721e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: left;
    padding: 2rem;
}

.caixas img {
    width: 50%;
    margin-bottom: 1rem;
}

.caixas p {
    font-size: 13px;
    line-height: 20px;
}

.caixas h3 {
    color: #1A023E;
    margin-bottom: 1rem;
}

.b3 {
    background-color: #dddddd;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

.areas {
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.areas img {
    height: 50%;
}

.blocoinfo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5%;
}

.blocoinfo .hs {
    font-size: 26px;
    margin-bottom: 30px;
    width: 60%;
}

.inf{
    line-height: 25px;

}

.roxo {
    color: #4F0C84;
    font-weight: bold;
}

.pink {
    color: #F02EF1;
    font-weight: bold;
}

.campimage {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campimage .sens {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campimage .datac {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhe {
    height: 10%;
    width: 10%;
    background-color: #380E72;
}


.block4 {
    height: 1000px;
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.title4 {
    font-size: 30px;
    color: #4F0C84;
    font-weight: bold;

}

.container4 {
    margin-top: 5%;
    width: 65%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixas4 {
    height: 100%;
    width: 230px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #00000057;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease;
}

.caixas4:hover{
    box-shadow: 0px 0px 20px #350381;

}

.imagesc4 {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 5px #4747471a;
}

.V{
    background-image: url("/assets/vinicius.jpeg");
    background-size: cover;
    background-position-y: -1rem;
}

.M{
    background-image: url("/assets/marcus.jfif");
    background-size: cover;
    background-position-y: -1rem;
}

.MO{
    background-image: url("/assets/oliveira.jpeg");
    background-size: cover;
    background-position-y: -3.5rem;
}


.S{
    background-image: url("/assets/samuel.jpg");
    background-size: cover;
}




.nome {
    margin-top: 15%;
    font-weight: bold;

}

.desc {
    color: #4F0C84;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}



.footer {
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-container{
    max-width: 1170px;
    margin: auto;
}

.footer ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4F0C84;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s eases;
    border: none;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
 }

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a{
    color: #4F0C84;
    background-color: #ffffff;
}


.donw1 {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    margin-top: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    box-shadow: 0px 0px 10px 5px #4f4f4f4c;

}

.donw1 ion-icon{
    height: 30px;
    width: 30px;
}
